extends  ../_skeleton

//- Includes
include ../elements/_post-var-1
include ../elements/_ui-insta-thumb-big

block variables
	- var pageName = 'Home'

block title
	title=pageName

block page
	// Page Header
	+navbar-default({
		navbarClass: 'rd-navbar-absolute'
	})

	// Swiper variant 2
	include ../sections/_swiper-variant-2

	section.section-md.bg-gray-5.text-center
		.shell.shell-fluid-var-3
			.range.range-30.range-center
				.cell-lg-3.cell-md-4.cell-sm-6.cell-xs-10.order-md-first.wow.fadeInUp(data-wow-duration=".88s" data-wow-offset="30")
					+post-var-1({
						imgName: "home2-1-421x241",
						postClass: 'post-var-2 text-spacing-md',
						postTags1: "Food",
						postTags2: "Health",
						postTitle: "Top 5 Healthy Cocktails to Drink Every Day",
						postText: "Liquid calories are a dieter's worst nightmare, but it's hard to pass up a cool cocktail at a fancy fete. Here are some examples of very healthy and tasty cocktails that we hope will help you...",
						dateTime: "2017-04-01",
						postTime: "April 1, 2017",
						postViews: "524",
					})

				.cell-lg-3.cell-md-4.cell-sm-6.cell-xs-10.order-md-first.wow.fadeInUp(data-wow-duration=".88s" data-wow-offset="30" data-wow-delay=".1s")
					+post-var-1({
						imgName: "home2-2-421x241",
						postClass: 'post-var-2',
						postTags1: "Fitness",
						postTags2: "workout",
						postTitle: "The Most Popular Leg Workout for Women",
						postText: "Want to know the most effective ways to train your legs and glutes? Here's everything you need to build shapely legs and a firm booty so you can rock the heck out of those jeans you...",
						dateTime: "2017-04-15",
						postTime: "April 15, 2017",
						postViews: "524",
					})

				.cell-lg-6.cell-md-8.wow.fadeInUp(data-wow-duration=".88s" data-wow-offset="30" data-wow-delay=".2s")
					.post-quote.bg-quote-1.bg-image.context-dark
						.post-quote-body
							.post-tags-wrap
								a(href="#").post-tags Food
								span ,
								=" "
								a(href="#").post-tags Health
							.quote-wrap
								h3: a(href="single-post.html")
									q The Best Healthy Recipes from Our Readers
							p Here are some best healthy food recipes that our readers sent us this month and today we would like to share them with you. All of them are very easy to cook using the common ingredients.
							h6.autor-name by John Doe

							hr

							.post-panel-between
								span.post-panel
									span.mdi.mdi-sm.mdi-clock
									time(datetime="2017-04-21") April 21, 2017

								span.post-panel
									span.fl-justicons-visible6
									span 524

				.cell-xlg-7.cell-lg-9
					+jpg('banner-3-975x90')

				.cell-lg-6.wow.fadeInUp(data-wow-duration=".88s" data-wow-offset="30" data-wow-delay=".1s")
					.post-video.post-video-var-2.context-dark
						.post-video__image
							+jpg('home2-5-871x691')

						.post-video__body
							a.link-control.post-video__control(data-lightbox='iframe', href='https://player.vimeo.com/video/59474227?color=ff9933&title=0&byline=0&portrait=0')
								span.link-control__inner

							.post-video__caption
								h3 Ashley Graham’s Guide To Choosing the Proper Lipstick
								h6 Let our makeup expert show you how it's done.

				.cell-lg-3.cell-md-4.cell-sm-6.cell-xs-10.order-md-first.wow.fadeInUp(data-wow-duration=".88s" data-wow-offset="30" data-wow-delay=".2s")
					+post-var-1({
						imgName: "home2-3-421x241",
						postClass: 'post-var-2',
						postTags1: "Sports",
						postTags2: "Health",
						classTags: "",
						postTitle: "6 Facts - The Health Benefits of Surfing",
						postText: "In our today’s issue of “6 Facts” weekly blog series we would like to share what health benefits surfing has. You may have noticed that many surfers don’t look their age, are usually in...",
						dateTime: "2017-04-21",
						postTime: "February 24, 2017",
						postViews: "524",
					})

				.cell-lg-3.cell-md-4.cell-sm-6.cell-xs-10.order-md-first.wow.fadeInUp(data-wow-duration=".88s" data-wow-offset="30" data-wow-delay=".3s")
					+post-var-1({
						imgName: "home2-4-421x241",
						postClass: 'post-var-2 heading-spacing-lg',
						postTags1: "Beauty",
						postTags2: "fashion",
						postTitle: "Lipstick Tricks You Probably Don’t Know About",
						postText: "You don’t have to be a makeup genius to know that lipstick can make a big impact—taking your face from drab to dramatic or simple to sexy—in seconds. But these brilliant expert tips will...",
						dateTime: "2017-03-12",
						postTime: "march 12, 2017",
						postViews: "524",
					})

				.cell-xlg-7.cell-lg-9
					+jpg('banner-3-975x90')
	='\n'

	// Let’s Stay in Touch!
	section.text-center
		.parallax-container
			.material-parallax.parallax
				+jpg('bg-home2-1920x1200')
			.parallax-content.section-parallax-1.context-dark
				.shell
					.range.range-50.range-sm-center.range-md-middle
						.cell-xs-12
							h2.spacing-50 Join Our Newsletter
							p.text-gray-light.spacing-50.text-width-500.offset-top-25 Subscribe to our newsletter and receive the latest top-rated lifestyle, beauty and health articles to your inbox. We don’t spam!

						.cell-md-8.cell-sm-10
							// RD Mailform
							form.rd-mailform.rd-mailform-lg.form-inline.form-inset-lg-20(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
								.form-wrap
									input#subscribe-email.form-input(type="email" name="email" data-constraints="@Email @Required")
									label.form-label.form-label-dark(for="subscribe-email") E-mail
								button(type="submit").button.button-lg.button-effect-ujarak.button-secondary Subscribe
	='\n'

	section
		.shell-fluid.shell-fluid-inset-0
			.instafeed.text-center(data-instafeed-tagname='tm_62006', data-instafeed-get='tagged', data-instafeed-sort='least-liked' data-lightgallery='group')
				.range.range-0.range-condensed
					- for (var i = 0; i < 4 ; i++)
						.cell-md-3.cell-xs-6.max-height(data-instafeed-item='')
							+thumbnail-instafeed-big({className: 'thumb thumb--effect-bubba'})
	='\n'

	// Page Footer
	include ../sections/_footer-var-2