.cell-md-4.cell-sm-6.cell-xs-10
	.box-product
		a(href="single-product.html"): +png('product-1-240x235')
		h5: a(href="single-product.html") SPRI Dumbbells
		span.price-before-sale $56.00
		span.price $24.00
		.box-product-details
			a(href="cart-page.html").box-product-basket.mdi.mdi-cart-outline
			a(href="#").box-product-view.fl-justicons-visible6

.cell-md-4.cell-sm-6.cell-xs-10
	.box-product
		a(href="single-product.html"): +png('product-2-240x235')
		h5: a(href="single-product.html") iStep Fitness Tracker
		span.price $40.00
		.box-product-details
			a(href="cart-page.html").box-product-basket.mdi.mdi-cart-outline
			a(href="#").box-product-view.fl-justicons-visible6

.cell-md-4.cell-sm-6.cell-xs-10
	.box-product
		a(href="single-product.html"): +png('product-3-240x235')
		h5: a(href="single-product.html") Yoga Mat
		span.price $14.00
		.box-product-details
			a(href="cart-page.html").box-product-basket.mdi.mdi-cart-outline
			a(href="#").box-product-view.fl-justicons-visible6