.range.range-50.range-lg-90.range-center.post-sidebar
	.cell-lg-12.cell-sm-6.text-center
		.post-sidebar-form.sidebar-border
			span.post-top Hot post
			.post-sidebar-form-content
				h4 5 Easy Ways for Women to Get Perfect Skin
				p These tips will help you make your skin look amazing in any season!
				a(href="#").button.button-lg.btn-anis.button-gray-1 read more

	.cell-lg-12.cell-sm-6.text-left
		p.sidebar-category Latest Posts
		include _sidebar-post