.sidebar-border
	.post-sidebar-item.post-sidebar-fullWidth
		.unit.unit-spacing-sm.unit-xs-middle.unit-horizontal.unit-lg-vertical.unit-xlg-horizontal
			.unit__left
				a(href="single-post.html"): +jpg('post-sidebar-1-90x98')

			.unit__body
				h6: a(href="single-post.html") Getting a Good Night’s Sleep: an Ultimate Guide for Everyone
				.group-sm-sidebar
					p.post-panel
						span.mdi.mdi-sm.mdi-clock
						time(datetime="2017-04-10").spacing-50 April 10, 2017

					p.post-panel
						span.fl-justicons-visible6
						span 524

	hr
	.post-sidebar-item.post-sidebar-fullWidth
		.unit.unit-spacing-sm.unit-xs-middle.unit-horizontal.unit-lg-vertical.unit-xlg-horizontal
			.unit__left
				a(href="single-post.html"): +jpg('post-sidebar-2-90x98')

			.unit__body
				h6: a(href="single-post.html") Why Purple Cabbage is Useful for Your Health
				.group-sm-sidebar
					p.post-panel
						span.mdi.mdi-sm.mdi-clock
						time(datetime="2017-06-05").spacing-50 June 5, 2017

					p.post-panel
						span.fl-justicons-visible6
						span 1356

	hr
	.post-sidebar-item.post-sidebar-fullWidth
		.unit.unit-spacing-sm.unit-xs-middle.unit-horizontal.unit-lg-vertical.unit-xlg-horizontal
			.unit__left
				a(href="single-post.html"): +jpg('post-sidebar-3-90x98')

			.unit__body
				h6: a(href="single-post.html") Preparing Your Skin for the Upcoming Summer
				.group-sm-sidebar
					p.post-panel
						span.mdi.mdi-sm.mdi-clock
						time(datetime="2017-05-08").spacing-50 May 8, 2017

					p.post-panel
						span.fl-justicons-visible6
						span 6424