section.swiper-default.swiper-var-2.swiper-custom-nav.text-left
	// Swiper
	.swiper-container.swiper-slider.swiper-slider-custom(data-autoplay='false', data-simulate-touch="false", data-loop="true")
		.swiper-wrapper
			.swiper-slide.slide-overlay-dark.slide-position-var-1(data-slide-bg='images/slide-3-1920x850.jpg', data-slide-title='Title text')
				.swiper-slide-caption
					.shell-fluid.shell-fluid-var-2
						.range.range-center.range-sm-right
							.cell-sm-6.cell-xs-11(data-caption-animate='fadeInUp' data-caption-delay='100')
								.box-content
									h1.text-secondary-dark
										span.letter-big P
										span.letter-small opular
									h3.text-secondary-dark.title-decor.decor-left.decor-secondary-dark Lifestyle Tips
									h5 A selection of health and beauty articles
									a.button.button-lg.button-white-2.button-effect-ujarak(href="single-post.html") Read More

			.swiper-slide.slide-overlay-dark.slide-position-var-2(data-slide-bg='images/slide-4-1920x850.jpg', data-slide-title='Title text')
				.swiper-slide-caption
					.shell-fluid.shell-fluid-var-2
						.range.range-center.range-sm-left
							.cell-md-6.cell-sm-7.cell-xs-11.slide-offset-left-1(data-caption-animate='fadeInUp' data-caption-delay='100')
								.box-content.inset-left
									h1.negative-offset.text-secondary-dark
										span.letter-big W
										span.letter-small elcome
									h3.text-secondary-dark.title-decor.decor-left.decor-secondary-dark to Our Blog
									h5 The best food, fitness, health and love blog
									a.button.button-lg.button-white-1.button-effect-ujarak(href="single-post.html") Read More

		// Swiper pagination
		.swiper-pagination

		// Swiper Navigation
		.swiper-button.swiper-button-prev
			span.swiper-button__arrow
				span.fl-budicons-free-left161
			.preview
				h3.title Text
				.preview__img

		.swiper-button.swiper-button-next
			span.swiper-button__arrow
				span.fl-budicons-free-right163
			.preview
				h3.title Text
				.preview__img
