-
	var
	brandName = 'Life News',
	logoDefault = 'logo-dark-152x59',
	logoInverse = 'logo-white-152x59',

	menu = [
		{ title: 'Fitness' },
		{ title: 'Food' },
		{ title: 'Health'	},
		{ title: 'Love' },
		{
			title: 'Beauty',
			link: '#',
			dropdown: [
				{ title: 'Beauty' },
				{ title: 'Beauty List' },
				{ title: 'Single Post' }
			]
		},
		{
			title: 'Pages',
			link: '#',
			megamenu: [
				{
					title: 'Pages 1',
					list: [
						{ title: 'About Us' },
						{	title: 'Careers' },
						{ title: 'Shop' },
						{ title: 'Shop List' },
						{ title: 'Single Product' },
						{ title: 'Cart Page' },
						{ title: 'Competitions' },
						{ title: 'Partner with Us' }
					]
				},
				{
					title: 'Pages 2',
					list: [
						{ title: 'Coming Soon' },
						{ title: '503' },
						{ title: '404' },
						{ title: 'Site Map' },
						{ title: 'Privacy Policy' },
						{ title: 'Maintenance' },
						{ title: 'Contacts' }
					]
				},
				{
					title: 'Elements',
					list: [
						{ title: 'Typography' },
						{ title: 'Forms' },
						{ title: 'Buttons' },
						{ title: 'Progress Bars' },
						{ title: 'Tabs & Accordions' },
						{ title: 'Tables' },
						{ title: 'Grid' },
					]
				},
				{
					title: 'Pages 3',
					list: [
						{ title: 'Fitness' },
						{ title: 'Food' },
						{ title: 'Health' },
						{ title: 'Love' },
						{ title: 'Beauty' },
						{ title: 'Beauty List' },
						{ title: 'Single Post' }
					]
				}
			]
		}
	]